**/[Bb]in/
**/[Ob]j/
[Oo]bj/
[Bb]in/
**/[Tt]est[Rr]esults/
**/[Aa]rtifacts/

.vs/
**/.vs/
*.user
*.suo
*.userosscache
*.sln.docstates
*.opendb
*.dbmdl
.vscode/
.idea/

project.lock.json
project.fragment.lock.json
*.sublime-project
*.sublime-workspace

*.pubxml
*.pubxml.user
*.nupkg
**/[Pp]ublish/

*.mdf
*.ldf
*.sdf
*.db
*.db-shm
*.db-wal
**/*.db

appsettings.Development.json
appsettings.Local.json
**/appsettings.Development.json
**/local.settings.json
*.usersecrets
.env

Thumbs.db
.DS_Store